<div class="container">
  <% @shops.each do |shop| %>
  <ul>
    <li><a href="/shops/<%=shop.id%>"><%=shop.name%></a> <%=shop.address%> <%=shop.city%>, <%=shop.state%> <%=shop.zip%> </li>
  </ul>
  <% end %>
  <% if current_user %>
  <a href="/shops/new">Add a new shop</a>
  <% else %>
  <p>Log in to add shops, drinks, and reviews!</p>
  <% end %>
</div>