<div class="container">
  
  <% if current_user %>
      <div id="add-shop"><span class="cap-letters">Can't find the boba shop you're looking for?</span><br><a href="/shops/new"><i class="fa fa-plus" style="color: green"></i> Add a new shop</a></div>
  <% else %>
      <p>Log in to add shops, drinks, and reviews!</p>
  <% end %>
    </div><br><br>

  <% @shops.each do |shop| %>
  <div class="span-1">
    <a href="/shops/<%=shop.id%>"><%=shop.name%></a><br>
    <% if shop.reviews.average("rating") == 5 %>
      <i class="star fa fa-star"></i>
      <i class="star fa fa-star"></i>
      <i class="star fa fa-star"></i>
      <i class="star fa fa-star"></i>
      <i class="star fa fa-star"></i>
    <% elsif shop.reviews.average("rating") < 5 && shop.reviews.average("rating") >= 4.5 %>
      <i class="star fa fa-star"></i>
      <i class="star fa fa-star"></i>
      <i class="star fa fa-star"></i>
      <i class="star fa fa-star"></i>
      <i class="star fa fa-star-half-o"></i>
    <% elsif shop.reviews.average("rating") < 4.5 && shop.reviews.average("rating") >= 4 %>
      <i class="star fa fa-star"></i>
      <i class="star fa fa-star"></i>
      <i class="star fa fa-star"></i>
      <i class="star fa fa-star"></i>
      <i class="star fa fa-star-o"></i>
    <% elsif shop.reviews.average("rating") < 4 && shop.reviews.average("rating") >= 3.5 %>
      <i class="star fa fa-star"></i>
      <i class="star fa fa-star"></i>
      <i class="star fa fa-star"></i>
      <i class="star fa fa-star-half-o"></i>
      <i class="star fa fa-star-o"></i>
    <% elsif shop.reviews.average("rating") < 3.5 && shop.reviews.average("rating") >= 3 %>
      <i class="star fa fa-star"></i>
      <i class="star fa fa-star"></i>
      <i class="star fa fa-star"></i>
      <i class="star fa fa-star-o"></i>
      <i class="star fa fa-star-o"></i>
    <% elsif shop.reviews.average("rating") < 3 && shop.reviews.average("rating") >= 2.5 %>
      <i class="star fa fa-star"></i>
      <i class="star fa fa-star"></i>
      <i class="star fa fa-star-half-o"></i>
      <i class="star fa fa-star-o"></i>
      <i class="star fa fa-star-o"></i>
    <% elsif shop.reviews.average("rating") < 2.5 && shop.reviews.average("rating") >= 2 %>
      <i class="star fa fa-star"></i>
      <i class="star fa fa-star"></i>
      <i class="star fa fa-star-o"></i>
      <i class="star fa fa-star-o"></i>
      <i class="star fa fa-star-o"></i>
    <% elsif shop.reviews.average("rating") < 2 && shop.reviews.average("rating") >= 1.5 %>
      <i class="star fa fa-star"></i>
      <i class="star fa fa-star-half-o"></i>
      <i class="star fa fa-star-o"></i>
      <i class="star fa fa-star-o"></i>
      <i class="star fa fa-star-o"></i>
    <% else %>
      <i class="star fa fa-star"></i>
    <% end %>

    <br><%=shop.address%> <%=shop.city%>, <%=shop.state%> <%=shop.zip%><br><br>
  </div>
  <% end %>
</div>