<div class="shop-banner cap-letters">
  <h1><%= @shop.name %></h1>
  <% if @reviews.average("rating") == 5 %>
    <i class="star fa fa-star"></i>
    <i class="star fa fa-star"></i>
    <i class="star fa fa-star"></i>
    <i class="star fa fa-star"></i>
    <i class="star fa fa-star"></i>
  <% elsif @reviews.average("rating") < 5 && @reviews.average("rating") >= 4.5 %>
    <i class="star fa fa-star"></i>
    <i class="star fa fa-star"></i>
    <i class="star fa fa-star"></i>
    <i class="star fa fa-star"></i>
    <i class="star fa fa-star-half-o"></i>
  <% elsif @reviews.average("rating") < 4.5 && @reviews.average("rating") >= 4 %>
    <i class="star fa fa-star"></i>
    <i class="star fa fa-star"></i>
    <i class="star fa fa-star"></i>
    <i class="star fa fa-star"></i>
    <i class="star fa fa-star-o"></i>
  <% elsif @reviews.average("rating") < 4 && @reviews.average("rating") >= 3.5 %>
    <i class="star fa fa-star"></i>
    <i class="star fa fa-star"></i>
    <i class="star fa fa-star"></i>
    <i class="star fa fa-star-half-o"></i>
    <i class="star fa fa-star-o"></i>
  <% elsif @reviews.average("rating") < 3.5 && @reviews.average("rating") >= 3 %>
      <i class="star fa fa-star"></i>
      <i class="star fa fa-star"></i>
      <i class="star fa fa-star"></i>
      <i class="star fa fa-star-o"></i>
      <i class="star fa fa-star-o"></i>
  <% elsif @reviews.average("rating") < 3 && @reviews.average("rating") >= 2.5 %>
    <i class="star fa fa-star"></i>
    <i class="star fa fa-star"></i>
    <i class="star fa fa-star-half-o"></i>
    <i class="star fa fa-star-o"></i>
    <i class="star fa fa-star-o"></i>
  <% elsif @reviews.average("rating") < 2.5 && @reviews.average("rating") >= 2 %>
    <i class="star fa fa-star"></i>
    <i class="star fa fa-star"></i>
    <i class="star fa fa-star-o"></i>
    <i class="star fa fa-star-o"></i>
    <i class="star fa fa-star-o"></i>
  <% elsif shop.reviews.average("rating") < 2 && shop.reviews.average("rating") >= 1.5 %>
    <i class="star fa fa-star"></i>
    <i class="star fa fa-star-half-o"></i>
    <i class="star fa fa-star-o"></i>
    <i class="star fa fa-star-o"></i>
    <i class="star fa fa-star-o"></i>
  <% else %>
    <i class="star fa fa-star"></i>
  <% end %>

  <%= @reviews.count %> reviews<br>
  <%= @shop.address %> <%= @shop.city %>, <%= @shop.state %> <%= @shop.zip %>
</div>

<div class="google-maps span-3">
    <input id="address" type="hidden" value="<%= @shop.address %> <%= @shop.city %>, <%= @shop.state %> <%= @shop.zip %>">
  <div class="span-3" id="map"></div>
</div>

<div>
  <% if current_user %>
  <div id="add-drink"><a href="/shops/<%= @shop.id %>/drinks/new"><i class="fa fa-plus"></i> Add a drink</a></div>
  <div id="add-review"><a href="/shops/<%= @shop.id %>/reviews/new"><i class="fa fa-pencil"></i> Write a review</a></div>
  <div id="view-drinks"><a href="/shops/<%= @shop.id %>/drinks"><i class="fa fa-list-ul"></i> See all of <%=@shop.name%>'s drinks</a></div>
  <div id="drink-list"></div>
  <% else %>
  <a href="/sessions/new"><i class="fa fa-sign-in"></i> Sign in</a> to add shops, drinks, and reviews!
  <% end %>
</div>
<h2 class="cap-letters">Reviews:</h2>
<% @reviews.each do |review| %>
  <div class="span-3">
    <% if review.rating == 5 %>
      <i class="star fa fa-star"></i>
      <i class="star fa fa-star"></i>
      <i class="star fa fa-star"></i>
      <i class="star fa fa-star"></i>
      <i class="star fa fa-star"></i>
    <% elsif review.rating == 4 %>
      <i class="star fa fa-star"></i>
      <i class="star fa fa-star"></i>
      <i class="star fa fa-star"></i>
      <i class="star fa fa-star"></i>
      <i class="star fa fa-star-o"></i>
    <% elsif review.rating == 3 %>
      <i class="star fa fa-star"></i>
      <i class="star fa fa-star"></i>
      <i class="star fa fa-star"></i>
      <i class="star fa fa-star-o"></i>
      <i class="star fa fa-star-o"></i>
    <% elsif review.rating == 2 %>
      <i class="star fa fa-star"></i>
      <i class="star fa fa-star"></i>
      <i class="star fa fa-star-o"></i>
      <i class="star fa fa-star-o"></i>
      <i class="star fa fa-star-o"></i>
    <% else %>
      <i class="star fa fa-star"></i>
      <i class="star fa fa-star-o"></i>
      <i class="star fa fa-star-o"></i>
      <i class="star fa fa-star-o"></i>
      <i class="star fa fa-star-o"></i>
    <% end %>
    <a href="/shops/<%=review.shop_id%>/drinks/<%=review.drink_id%>"><%= review.drink.name %></a><br>
    <%= review.body %><br>
    <a href="/users/<%=review.user_id%>"><%= review.user.username %></a> | 
    <%= review.updated_at.year %> <%= review.updated_at.strftime("%B") %> <%= review.updated_at.day %><br>

    <% if current_user && review.user_id == current_user.id %>
    <div class="edit-link"><a href="/shops/<%= review.shop_id %>/reviews/<%=review.id%>/edit"><i class="fa fa-pencil-square-o"></i> Edit</a></div>
    <form id="delete-rev" method="POST" action="/shop/<%= review.shop_id %>/reviews/<%=review.id%>">
      <input type="hidden" name="_method" value="DELETE">
      <input class="delete-button" type="submit" value="Delete">
    </form>
    <% end %>
    <br><br>
    </div>
  <% end %>
</div>