<div class="container">
  <div class="google-maps">
    <p>Need help finding <%=@shop.name%>?</p>
    <div id="floating-panel">
      <input id="address" type="textbox" value="<%= @shop.address %> <%= @shop.city %>, <%= @shop.state %> <%= @shop.zip %>">
      <input id="submit" type="button" value="Show me where!">
    </div>
    <div id="map"></div>
  </div>
  <%= @shop.name %>: <%= @reviews.count %> reviews<br>
  <p>Average rating: <%=@reviews.average("rating") %></p><br>
  <div>
    <%= @shop.address %> <%= @shop.city %>, <%= @shop.state %> <%= @shop.zip %>
    <div>
      <% if current_user %>
      <ul>
        <li><a href="/shops/<%= @shop.id %>/drinks/new">Add a drink</a></li>
        <li><a href="/shops/<%= @shop.id %>/reviews/new">Add a review</a></li>
        <li><a href="/shops/<%= @shop.id %>/drinks">View all drinks that <%=@shop.name%> has</a></li>
      </ul>
      <% else %>
      <p>Log in to add shops, drinks, and reviews!</p>
      <% end %>
    </div>
  </div>
  <p>Reviews:</p>
  <% @reviews.each do |review| %>
  <% @shop_id = review.shop_id %>
  <% @shop_name = Shop.find(@shop_id).name %>
  <% @drink_id = review.drink_id %>
  <% @drink_name = Drink.find(@drink_id).name %>
  <% @user_id = review.user_id %>
  <% @user_username = User.find(@user_id).username %>
  <div class="index-review">
    <div class="reviewer"><a href="/users/<%=@user_id%>"><%= @user_username %></a> says:</div>
    <div class="drink-name"><a href="/shops/<%= @shop_id %>/drinks/<%= @drink_id%>"><%=@drink_name.capitalize %></a> is worth <%= review.rating %> stars!</div>
    <div class="review-body"><%= review.body %></div>
    <div class="timestamp"><%= review.updated_at.month %>/<%= review.updated_at.day %>/<%= review.updated_at.year %></div>
  </div>
  <% end %>
</div>