<div class="container">
  <h1>Drinks at <%=@shop.name%></h1>
  <a href="/shops/<%=@shop.id%>/drinks/new">Add a new drink to <%=@shop.name%></a>
  </form>
  <% @drinks.each do |drink| %>
  <ul>
    <li><a href="/shops/<%=@shop.id%>/drinks/<%=drink.id%>"><%=drink.name%></a></li>
  </ul>
  <% end %>
</div>