<div class="container">
  <% if current_user %>
  <%= @shop.name %><br>
  <%= @shop.address %><br>
  <%= @shop.city %>, <%= @shop.state %> <%= @shop.zip %><br>
  <%= @reviews.count %> reviews<br>

  <% if @errors %>
  <%= @errors %>
  <% end %>

  <form action='/shops/<%= @shop.id %>/drinks' method='POST'>
  <input type="hidden" name="drink[shop_id]" value="<%= @shop.id %>">
   <fieldset>
     <legend>Add a new drink to <%=@shop.name%>!</legend>
     Drink Name:<input type="text" name="drink[name]" placeholder="Drink name">
   </fieldset>
   <button type="submit">Submit</button>
 </form>
 <% else %>
 <p>You've encountered an error. Please login and try again.</p>
 <% end %>
</div>