<% if current_user && current_user.id == @user.id %>
  <h1 class="cap-letters">Welcome back, <%= @user.first_name %> | <%= @user.username %>!</h1>
  <h2>Your reviews</h2>

<% elsif current_user && current_user.id != @user.id %>
  <h1 class="cap-letters"><%= @user.username %>'s reviews</h1>

<% else %>
  <h1 class="cap-letters"><%= @user.username %>'s reviews</h1>
  <a href="/sessions/new"><i class="fa fa-sign-in"></i> Sign in</a> to add shops, drinks, and reviews!<br><br>
<% end %>


  <% @reviews.each do |review| %>
   <% if review.rating == 5 %>
      <i class="star fa fa-star"></i>
      <i class="star fa fa-star"></i>
      <i class="star fa fa-star"></i>
      <i class="star fa fa-star"></i>
      <i class="star fa fa-star"></i>
    <% elsif review.rating == 4 %>
      <i class="star fa fa-star"></i>
      <i class="star fa fa-star"></i>
      <i class="star fa fa-star"></i>
      <i class="star fa fa-star"></i>
      <i class="star fa fa-star-o"></i>
    <% elsif review.rating == 3 %>
      <i class="star fa fa-star"></i>
      <i class="star fa fa-star"></i>
      <i class="star fa fa-star"></i>
      <i class="star fa fa-star-o"></i>
      <i class="star fa fa-star-o"></i>
    <% elsif review.rating == 2 %>
      <i class="star fa fa-star"></i>
      <i class="star fa fa-star"></i>
      <i class="star fa fa-star-o"></i>
      <i class="star fa fa-star-o"></i>
      <i class="star fa fa-star-o"></i>
    <% else %>
      <i class="star fa fa-star"></i>
      <i class="star fa fa-star-o"></i>
      <i class="star fa fa-star-o"></i>
      <i class="star fa fa-star-o"></i>
      <i class="star fa fa-star-o"></i>
    <% end %>
    <a href="/shops/<%=review.shop_id%>/drinks/<%=review.drink_id%>"><%= review.drink.name %></a> | 
    <a href="/shops/<%=review.shop_id%>"><%= review.shop.name %></a> |
    <%= review.updated_at.year %> <%= review.updated_at.strftime("%B") %> <%= review.updated_at.day %><br>
    <%= review.body %><br><br><br>

    <% if current_user && review.user_id == current_user.id %>
    <a href="/shops/<%= review.shop_id %>/reviews/<%=review.id%>/edit"><i class="fa fa-pencil-square-o"></i> Edit</a>
    <form id="delete-rev" method="POST" action="/shop/<%= review.shop_id %>/reviews/<%=review.id%>">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" value="Delete">
    </form>
    <br><br>
<% end %>
<% end %>