<div class="container">
  <div class="google-maps">
    <p>Need help finding <%=@shop.name%>?</p>
    <div id="floating-panel">
      <input id="address" type="textbox" value="<%= @shop.address %> <%= @shop.city %>, <%= @shop.state %> <%= @shop.zip %>">
      <input id="submit" type="button" value="Show me where!">
    </div>
    <div id="map"></div>
  </div>
  <div><%=@shop.name%></div>
  <div><%=@shop.address%></div>
  <div><%=@shop.city%></div>
  <div><%=@shop.state%></div>
  <div><%=@shop.zip%></div>

  <br>

  <div class="index-review">
    <div class="reviewer"><a href="/users/<%=@review.user.id%>"><%= @review.user.username %></a> says:</div>
    <div class="drink-name"><a href="/shops/<%= @review.shop.id %>/drinks/<%= @review.drink_id%>"><%=@review.drink.name.capitalize %></a> is worth <%= @review.rating %> stars!</div>
    <div class="review-body"><%= @review.body %></div>
    <div class="timestamp"><%= @review.updated_at.month %>/<%= @review.updated_at.day %>/<%= @review.updated_at.year %></div>
  </div>
</div>