<!-- <h2 class="cap-letters">Boba Trivia</h2>
  Boba Bloodline
  <ul>
    <li>Grandfather: Journeyman Protector</li>
    <li>Father: Jango Fett</li>
    <li>Sister: Aria Fett</li>
    <li>Wife: Sintas
    <li>Daughter: Ailyn</li>
    <li>Son-in-law: Makin Marec</li>
    <li>Granddaughter: Mirta Gev</li>
    <li>Grandson-in-law: Ghes Orade
    <li>Nephew: Venku Skirata</li>
  </ul> -->
  <h1 class="cap-letters">Recent reviews</h1>
  <% @reviews.each do |review| %>
  <div class="rev-disp span-3">
    <% if review.rating == 5 %>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
    <% elsif review.rating == 4 %>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
    <% elsif review.rating == 3 %>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
    <% elsif review.rating == 2 %>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
    <% else %>
      <i class="fa fa-star"></i>
    <% end %>
    <a href="/shops/<%=review.shop_id%>/drinks/<%=review.drink_id%>"><%= review.drink.name %></a> | 
    <a href="/shops/<%=review.shop_id%>"><%= review.shop.name %></a><br>
    <%= review.body %><br>
    <a href="/users/<%=review.user_id%>"><%= review.user.username %></a> | 
    <%= review.updated_at.year %> <%= review.updated_at.strftime("%B") %> <%= review.updated_at.day %><br><br>
    </div>
  <% end %>