<div class="container">
  <h1>Recent Reviews:</h1>
  <% @reviews.each do |review| %>
  <% @shop_id = review.shop_id %>
  <% @shop_name = Shop.find(@shop_id).name %>
  <% @drink_id = review.drink_id %>
  <% @drink_name = Drink.find(@drink_id).name %>
  <% @user_id = review.user_id %>
  <% @user_username = User.find(@user_id).username %>
  <div class="index-review">
    <div class="shop-name"><%= @shop_name %></div>
    <div class="drink-name"><%=@drink_name.capitalize %></div>
    <div class="drink-rating"> <%= review.rating %> stars</div>
    <div class="review-body"><%= review.body %></div>
    <div class="reviewer">by: <a href="/users/<%=@user_id%>"><%= @user_username %></a></div>
    <div class="timestamp"><%= review.updated_at.month %>/<%= review.updated_at.day %>/<%= review.updated_at.year %></div>
  <% end %>
  </div>
</div>

